
*{
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Merich;
  src: url('assets/fonts/Merich/Merich.otf');

} 
@font-face {
  font-family: Blacky;
  src: url('assets/fonts/Blacky/TheNextFont.ttf');
}

@font-face{
font-family: Poppins-Light;
  src: url('assets/fonts/popins/Poppins-Light.ttf');
}  

@font-face{
font-family: SF-Pro;
  src: url('assets/fonts/apple/AppleGaramond-Light.ttf');
}  
@font-face{
font-family:Helvetica-Bold;
  src: url('assets/fonts/heveltica/Helvetica-Bold.ttf');
}  


  :root{
    --cor-bk: #1f3441;
  
    /* --cor-textos:#16bdfe; */
    
    --header-bk: #111214;
    --color-text: #aaa6a6;
    --color-primary: #ff5701;
    --color-secundary: #fffd6b;

    --bkColor: #fffdf7;
    --color-black: #212121;
    --color-black-heavy: #000000;

    --color-text-out: #53534f;
    --color-white: #ffffff;
    --color-titulo: #2f1c6a;
    --color-textos: #6f47e7;
    --color-roxo: #13131f;
    --color-pinck: #fbebe2;
    --color-blue: #e8f0fe;
    --blue-clean:#6cc2c5;
    --cor-textos:#16bdfe;
    --cor-textos_red:#fc0045;
}

