/* ________HOME______________ */
/* Estilo para a seção visível */

#home {
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/imagens/fundo.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

/* MENU ARCODION */
.sidebar {
    height: 89vh;
    width: 25%;
    position: fixed;
    top: 0;
    margin-top: 6%;
    left: -100%;
    backdrop-filter: blur(5px);
    padding-top: 20px;
    transition: left 1s ease;
    z-index: 12;
    box-shadow: 1px 1px 1rem black;
}
#bk_menu_lateral{
    background-color: var(--cor-textos);
}
#bk_menu_lateral h5 .btn-link {
    color: #000;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    width: 100%;

}
#bk_menu_lateral h5 .btn-link:hover{
    background-color: #222121;
    color: white;
}
.sidebar a {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-family: Poppins-Light;
    /* border: 1px solid red; */
}

.sidebar a:hover {
    background-color: #575d63;
}

.sidebar.active {
    left: 0;
    /* Mostra o menu */
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

/* ________NAV HOME______________ */
#nav_home {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 0;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    z-index: 10;
    border: 1px solid rgb(255, 255, 255);

}

#nav_home ul {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0px;
}

#nav_home div {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2%;
    height: 100%;
}

#nav_home div .btn_menu {
    color: white;
    padding: 0.5rem;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

#nav_home li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav_home li a {
    color: var(--cor-textos);
    font-size: 1vw;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    cursor: pointer;
    font-family: "Source Sans Pro", Arial, sans-serif;

}

#nav_home li a:hover {
    color: black;
    scale: 1.1;
}

/* text_section_1 */
#content_text_section_1 {
    width: 45%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    top: 15%;
    margin-left: 5%;
    left: 0px;

}

/* text_header */
.text_header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10%;

}

.text_header div {

    width: 30%;
    margin-bottom: 0px;
    height: 1vh;
    background-color: white;
    border-radius: 2px;

    /* border: 1px solid red; */
}

.text_header p {
    width: 68%;
    margin-bottom: 0px;
    color: #16bdfe;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1vw;
    font-weight: bolder;
    font-size: 1.5vw;
    font-family: Helvetica-Bold;

}

/* text_titulo_Section_1 */
.text_titulo_Section_1 {

    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.text_titulo_Section_1 h1 {
    color: white;
    margin-top: 1vh;
    font-size: 5vw;
    font-weight: bolder;
    font-family: Helvetica-Bold;

}

.text_titulo_Section_1 h3 {
    color: var(--cor-textos);
    font-size: 2vw;
    font-weight: bolder;
    font-family: Poppins-Light;


}

.text_titulo_Section_1 h3 span {
    color: white;
    font-size: 1.4vw;
    font-family: Poppins-Light;

}

.text_titulo_Section_1 p {
    color: white;
    font-size: 1vw;
    font-family: Poppins-Light;
}

.text_titulo_Section_1 .btn_section_1 {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: Blacky;
}

.text_titulo_Section_1 .btn_section_1 button {
    background-color: var(--cor-textos);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    color: white;
    font-size: 1.5vw;
    margin-bottom: 3vh;
    box-shadow: 1px 1px 1rem var(--cor-textos);
    transition: 0.5s ease-in-out;

}

.text_titulo_Section_1 .btn_section_1 button:hover {
    box-shadow: 1px 1px 1rem white;
    scale: 1.1;
}




#content_img_section_2 {
    width: 40%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    top: 15%;
    margin-right: 5%;
    background-size: cover;
    right: 0px;
}

#content_img_section_2 img {
    width: 100%;
}



/* ///////////////section_2//////////////// */

.section_2 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -25vh; */

}

/* .text_section_2 */
.text_section_2 {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: 110vh;
    padding: 1rem;
 

}

@keyframes slide-from-bottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#text_section_2 {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
}

#text_section_2.slide-in {
    opacity: 1;
    transform: translateY(0);
}

/* text_section_2 h1 */
.text_section_2 h1 {
    color: var(--cor-bk);
    font-size: 4vw;
    font-weight: bolder;
    font-family: Merich;
    /* text-shadow:
        0 0 5px #4e4b4b,
        0 0 10px #222121,
        0 0 20px #6cc2c5,
        0 0 30px #6f47e7,
        0 0 40px #6cc2c5,
        0 0 50px #2f1c6a,
        0 0 60px #6f47e7; */
    margin-bottom: 3%;
}

.text_section_2 h4 {
    color: var(--color-black-heavy);
    font-size: 1.4vw;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-top: 2vh;
    color: #333;
    font-weight: 400;
    font-family: "Source Sans Pro", Arial, sans-serif;

}

/* .text_section_2 p */
.text_section_2 p {
    color: var(--color-black-heavy);
    font-size: 1.4vw;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-top: 2vh;
    line-height: 1.3em;
    color: #333;
    font-weight: 400;

}

/* .text_section_2 span */
.text_section_2 span {
    font-size: 1.4vw;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-top: 2vh;
    line-height: 1.3em;
    color: #333;
    font-weight: 400;
}

.text_section_2 a {
    width: 60%;
    padding: 1rem;
    margin-bottom: -15vh;
    margin-top: 5vh;
    border: none;
    background-color: var(--cor-textos);
    border-radius: 5px;
    box-shadow: 1px 1px 1rem var(--cor-textos);
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 600;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #000;
    

}

.text_section_2 a:hover {
    background-color: #fc0045;
    color: white;
    box-shadow: 1px 1px 1rem var(--color-black);
}


/* img_section_2 */
.img_section_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.img_section_2 .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}


/* EFEITO LETREIRO */

.marquee {
    width: 100%;
    overflow: hidden;
    background-color: var(--cor-textos);
    color: #fff;
    white-space: nowrap;
    box-sizing: border-box;
      padding: 0.5rem;
     background-image: url('/assets/imagens/img_bk.jpg');
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     box-shadow: 1px 1px 1rem black;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 60s linear infinite;
    font-family: Blacky, sans-serif;
    font-size: 3.5vw;
  
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* ///////////////descricao////////////// */
#descricao{
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    margin-top: 10vh;
    /* background-image: url('/assets/imagens/img_bk.jpg');
     background-attachment: fixed;
     background-size: cover; */
     /* background-position: center; */
     margin: 0;
     margin-top: 20vh;
    
}
#descricao h1{
    width: 90%;
    position: absolute;
    top: 0;
    color:var( --color-black);
    margin-top: 1vh;
    font-size: 3vw;
    font-weight: bolder;
    font-family: Blacky, sans-serif;
    text-align: center;
 
}
#descricao .icon_descricao{
    width: 90%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    top: 30vh;
    
}

#descricao .icon_descricao div{
  width: 23%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  border: 1px solid white;
  gap: 1vw;
 
  
  
}
#descricao .icon_descricao div span{
    display: inline-block;
    font-family: Blacky, sans-serif;
    font-size: 1vw;
    text-align: center;
    font-weight: 400;
   color:var(  --color-text-out);
}

#descricao .icon_descricao div img{
    width: 4vw;
}
/* cards */
#cards{
    width: 90%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    flex-wrap: wrap;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    bottom: 0;
    gap: 1vh;
    overflow: scroll;
    scrollbar-width: none;
    padding: 1rem;
}

/* // CARDS - CARD */
#cards .card:nth-child(1) {
    border: 1px solid white;
    height: 33vh;
    width: 24.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;
  

}

#cards .card:nth-child(2) {
    border: 1px solid white;
    height: 33vh;
    width: 24.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}

#cards .card:nth-child(3) {

    border: 1px solid white;
    height: 33vh;
    width: 24.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}

#cards .card:nth-child(4) {

    border: 1px solid white;
    height: 33vh;
    width: 24.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card:nth-child(5) {

    border: 1px solid white;
    height: 33vh;
    width: 24.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card:nth-child(6) {
    border: 1px solid white;
    height: 33vh;
    width: 24.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card:nth-child(7) {
    border: 1px solid white;
    height: 33vh;
    width: 24.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card:nth-child(8) {

    border: 1px solid white;
    height: 33vh;
    width: 24.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card{
    padding: 0.5rem;
    transition: 0.5s ease-in-out;
    
   
}
#cards .card:hover{
    box-shadow: 1px 1px 1rem black;
}
#cards .card img{
    width: 4vw;
}
#cards .card h4{
    font-family: Blacky;
    font-size: 1vw;
}
#cards .card p{
    font-family: Poppins-Light;
    font-size: 1vw;
    font-weight: 700;
    text-align: center;
}


/* /////////////////services///////////////// */
#services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 5%;
}

/* op_dev */
.op_dev {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: 100vh;
    padding: 1rem;


}

.op_dev.active{
    animation-name: slide_from_left ;
    animation-duration: 2s;
}

@keyframes slide_from_left {
    0%{
transform: translateX(-20%);
    }
    100%{
        transform: translateX(0%);
    }
}
.op_dev div {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.op_dev div h1 {
    font-size: 3vw;
    font-weight: bolder;
    font-family: Blacky;
    color: var(--cor-textos);
}

.op_dev ul {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    gap: 1vh;
}

.op_dev ul button {
    background: hsl(0, 0%, 100%);
    padding: 1rem;
    width: 50%;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.01);
    border: none;
    font-family: Poppins-Light, sans-serif;
    font-weight: 800;
    font-size: 1vw;
  
    &::after {
      position: absolute;
      content: "";
      top: 15px;
      left: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      transform: scale(0.9) translateZ(0);
      filter: blur(15px);
      background: linear-gradient(
        to left,
        #ff5770,
        #e4428d,
        #c42da8,
        #9e16c3,
        #6501de,
        #9e16c3,
        #c42da8,
        #e4428d,
        #ff5770
      );
      background-size: 200% 200%;
      animation: animateGlow 1.25s linear infinite;
    }
}

@keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  


.img_services.active_img{
    animation-name: slide_from_rigth ;
    animation-duration: 2s;
}
@keyframes slide_from_rigth{
    0% {
     transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
  }
  

/* img_services */
.img_services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    /* transform: rotate(-4deg); */
}

.img_services img {
    width: 90%;
    height: 70%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.5rem;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(160, 154, 154, 0.438);
    transition: 0.7s;
    cursor: pointer;

}

.img_services img:hover {
    /* transform: rotate(8deg); */
    box-shadow: 1px 1px 1rem black;
}


#img_services_1 {
    display: flex;

}

#img_services_2 {
    display: none;

}

#img_services_3 {
    display: none;
}

#img_services_4 {
    display: none;
}


/* //////////////SOBRE////////////////// */
#sobre {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 20vh;

}

.sobre_text_1.active_text{
    animation-name: slide_from_rigth ;
    animation-duration: 2s;
}
@keyframes slide_from_rigth{
    0% {
     transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
  }
  
.sobre_text_1 {
    width: 45%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre_text_1 h1 {
    font-size: 3vw;
    font-weight: bolder;
    font-family: Blacky;
    color: var(--cor-textos);


}

.sobre_text_1 p {
    font-size: 1.4vw;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-top: 2vh;
    line-height: 1.3em;
    color: #333;
    font-weight: 400;

}


.sobre_text_2 {
    width: 45%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.sobre_text_2 div {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre_text_2 div img {
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}
/* ///////////////////contact//////////////// */
#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 20vh;
    margin-bottom: 20vh;
    gap: 1vw;

}

.contact_1 {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
}

.contact_1 h1 {
    color: var(--cor-textos);
    font-family: Blacky;
    font-size: 2.8vw;
}

.contact_1 li {
    font-size: 1.4vw;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-top: 2vh;
    line-height: 1.3em;
    color: #333;
    font-weight: 400;
}

.contact_1 p {
    font-size: 1.4vw;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-top: 2vh;
    line-height: 1.3em;
    color: #333;
    font-weight: 400;


}
.contact_1 span {
    width: 60%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #16bdfe;
    border-radius: 5px;
    color: white;
    font-family: Blacky;
    font-size: 1.2vw;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 1px 1px 1rem var(--cor-textos);
}

.contact_1 span:hover {
    box-shadow: 1px 1px 1rem var(--color-black-heavy);
    background-color: var(--cor-textos_red);
   
}

.contact_1 span a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.contant_2 {
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contant_2 form {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5vh;
}

.form-row {

    width: 100%;

}

.form-group {
    width: 100%;
}


/* //////////////////FOOTER */
.footer {

    color: var(--color-black-heavy);
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;




}

.footer a {
    font-size: 1.4vw;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-top: 2vh;
    line-height: 1em;
    color: #333;
    font-weight: 400;
    text-decoration: none;
    font-family: Poppins-Light;
    width: 100%;
}

.footer a:hover {
    color: var(--cor-textos);

}

.footer .social-icons {
    font-size: 24px;
    margin: 0 15px;
    color: var(--cor-textos);
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.footer .social-icons i {
    transition: 0.5s ease-in-out;

}

.footer .social-icons a i:hover {
    color: #ffffff;
    scale: 1.2;
}

.footer .copy {
    border-top: 1px solid #495057;
    padding-top: 20px;
    margin-top: 20px;
}

.footer .icon-text {
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.footer .icon-text:hover {
    background-color: var(--cor-textos);

}

.footer .icon-text:hover i {
    color: #000;
}

.footer .icon-text i {
    margin-right: 10px;
    transition: 0.5s ease-in-out;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}



.text-uppercase {

    font-family: Osvald;
    font-size: 2rem;
    height: 30%;

}


.list-unstyled {

    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vh;
    font-family: Poppins-Light;

}

#social_midia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#social_midia div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 100%;
}

#social_midia {
    text-align: center;
    gap: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social_icons div {
    width: 30%;
    padding: 0.3rem;

}

.fab {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5s;
}

.fab:hover {
    color: #16bdfe;

}








@media (max-width: 768px) {
    #nav_home ul {
        width: 70%;
    }

    #nav_home li a {
        font-size: 2vw;
    }

    #content_text_section_1 {
        width: 60%;
        margin-left: 2%;
    }

    .text_titulo_Section_1 h1 {
        font-size: 7vw;
    }

    .text_titulo_Section_1 h3 {
        font-size: 3vw;
    }

    .text_titulo_Section_1 p {
        font-size: 1.5vw;
    }

    .text_titulo_Section_1 .btn_section_1 button {
        font-size: 2.5vw;
    }

    #content_img_section_2 {
        width: 50%;
        margin-right: 2%;
    }

    .text_section_2 h1 {
        font-size: 6vw;
    }

    .text_section_2 h4,
    .text_section_2 p,
    .text_section_2 span {
        font-size: 2vw;
    }

    .text_section_2 button {
        width: 70%;
    }

    .op_dev div h1 {
        font-size: 4vw;
    }

    .op_dev ul button {
        font-size: 2vw;
    }
}




/* -------MIDIA SCRIA 480PX */

@media screen and (max-width:480px) {

    /* ________HOME______________ */
    #home {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/assets/imagens/fundo.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

    }
/* MENU ARCODION */
.sidebar {
    height: 90vh;
    width: 70%;
    position: fixed;
    top: 0;
    margin-top: 12vh;
    left: -110%;
    backdrop-filter: blur(5px);
    padding-top: 20px;
    transition: left 1s ease;
    z-index: 12;
    box-shadow: 1px 1px 1rem black;
    
}
#bk_menu_lateral ul li{
    list-style: none;
}
#bk_menu_lateral ul li a{
    font-size: 4vw;
    transition: 1s;
    cursor: pointer;
    font-family: Poppins-Light;
    color: #222121;
}
#bk_menu_lateral{
    background-color: var(--cor-textos);
    margin-top: -1vh;
}
#bk_menu_lateral h5 .btn-link {
    color: #000;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    width: 100%;

}
#bk_menu_lateral h5 .btn-link:hover{
    color: white;
}
.sidebar a {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-family: Poppins-Light;
    /* border: 1px solid red; */
}

.sidebar a:hover {
    background-color: #575d63;
}

.sidebar.active {
    left: 0;
    /* Mostra o menu */
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 12;
}


    /* ________NAV HOME______________ */
    #nav_home {
        width: 95%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        margin: 0 auto;
        margin-top: 2vh;
        padding: 0;
        backdrop-filter: blur(10px);
        border-radius: 5px;
        z-index: 10;
        border: 1px solid rgb(255, 255, 255);


    }

    #nav_home ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin-bottom: 0px;
        display: none;
    }

    #nav_home div {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-right: 2%;
        height: 100%;

    }

    #nav_home div .btn_menu {
        
        padding: 0.2rem;
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 2vw;
        border: none;
       


    }
    
    #toggleSidebar{
        width: 20vw; 
        position: absolute;
    }

    #nav_home li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    #nav_home li a {
        color: var(--cor-textos);
        font-size: 2.7vw;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        cursor: pointer;
        font-family: Poppins-Light;

    }

    #nav_home li a:hover {
        color: black;
        scale: 1.1;
    }

    /* text_section_1 */
    #content_text_section_1 {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        top: 15%;
        margin-left: 0;


    }

    /* text_header */
    .text_header {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        margin-bottom: -10vh;
    }

    .text_header div {

        width: 50%;
        margin-bottom: 0px;
        height: 1vh;
        background-color: white;
        border-radius: 2px;
        margin-left: 4vw;

    }

    .text_header p {
        width: 68%;
        margin-bottom: 0px;
        color: #16bdfe;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 2vw;
        font-weight: bolder;
        font-size: 4vw;
        font-family: Helvetica-Bold;

    }

    /* text_titulo_Section_1 */
    .text_titulo_Section_1 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text_titulo_Section_1 h1 {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 1vh;
        font-size: 8vw;
        font-weight: bolder;
        font-family: Helvetica-Bold;

    }

    .text_titulo_Section_1 h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: var(--cor-textos);
        font-size: 6vw;
        font-weight: bolder;
        font-family: Poppins-Light;


    }

    .text_titulo_Section_1 h3 span {

        color: white;
        font-size: 2vw;
        margin-left: 2vw;
        font-family: Poppins-Light;

    }

    .text_titulo_Section_1 p {
        color: white;
        font-size: 2.5vw;
        padding: 0.5rem;
        font-family: Poppins-Light;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .text_titulo_Section_1 .btn_section_1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        font-family: Blacky;
    }

    .text_titulo_Section_1 .btn_section_1 button {
        background-color: var(--cor-textos);
        padding: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 60%;
        color: white;
        font-size: 4vw;
        margin-bottom: 3vh;
        box-shadow: 1px 1px 1rem var(--cor-textos);
        transition: 0.5s ease-in-out;

    }

    .text_titulo_Section_1 .btn_section_1 button:hover {
        box-shadow: 1px 1px 1rem white;
        scale: 1.1;
    }




    #content_img_section_2 {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        top: 50%;
        background-size: cover;
        right: 0px;
        margin-right: 0px;
    }

    #content_img_section_2 img {
        width: 80vw;
    }





    /* ///////////////section_2//////////////// */

    .section_2 {
        width: 100%;
        height: 150vh;
        margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;


    }

    /* .text_section_2 */
    .text_section_2 {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0;
        width: 100%;
        height: 70%;
        padding: 1rem;

    }

    /* text_section_2 h1 */
    .text_section_2 h1 {
        color: var( --color-text-out);
        font-size: 9vw;
        font-weight: bolder;
        margin-top: -20vh;
       

    }

    .text_section_2 h4 {
        color: var(--color-black-heavy);
        font-size: 4vw;
        font-family: Poppins-Light;
        margin-top: 2vh;
    }

    /* .text_section_2 p */
    .text_section_2 p {
        color: var(--color-black-heavy);
        color: rgb(0, 0, 0);
        font-size: 4vw;
        font-family: Poppins-Light;
        margin-top: 2vh;
        
       


    }

    /* .text_section_2 span */
    .text_section_2 span {
        color: var(--color-black-heavy);
        color: rgb(0, 0, 0);
        font-size: 4vw;
        font-family: Poppins-Light;
        margin-top: 2vh;
    }

    .text_section_2 button {
        width: 80%;
        text-align: center;
        padding: 1rem;
        z-index: 1;
        margin-top: 5vh;
        border: none;
        background-color: var(--cor-textos);
        border-radius: 5px;
        box-shadow: 1px 1px 1rem var(--cor-textos);
        font-family: Blacky;
        transition: 0.5s ease-in-out;
        cursor: pointer;
     

    }

    .text_section_2 button:hover {
        background-color: #fc0045;
        color: white;
        box-shadow: 1px 1px 1rem var(--color-black);
    }

    /* img_section_2 */
    .img_section_2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40%;
        padding: 1rem;
    }

    .img_section_2 .img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
/* EFEITO LETREIRO */

.marquee {
    width: 100%;
    margin: 5%;
    left: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--cor-textos);
    color: #fff;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
      padding: 0.5rem;
     background-image: url('/assets/imagens/img_bk.jpg');
     background-attachment: fixed;
     background-size: cover;
     background-position: center;
     box-shadow: 1px 1px 1rem black;
}

.marquee p {
    display: inline-block;
    padding-left: 200%;
    animation: marquee 60s linear infinite;
    font-family: Blacky, sans-serif;
    font-size:7vw;
    margin-bottom: 0;
  
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
/* ///////////////descricao////////////// */
#descricao{
    width: 100%;
    height: 180vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
     margin: 0;
    
    
    
}
#descricao h1{
    width: 90%;
    position: absolute;
    top: 0;
    color:var( --color-black);
    margin-top: 1vh;
    font-size: 6vw;
    font-weight: bolder;
    font-family: Blacky, sans-serif;
    text-align: center;
    
 
}
#descricao .icon_descricao{
    width: 95%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    top: 30vh;
     overflow-x: hidden;
     padding: 1rem;
     gap: 1vw;
}

#descricao .icon_descricao div{
  width: 40vw;
  height: 30%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  gap: 1vw;
  border: 1px solid rgba(0, 0, 0, 0.349);
 
  
  
}
#descricao .icon_descricao div span{
    display: inline-block;
    font-family: Blacky, sans-serif;
    font-size: 3vw;
    text-align: center;
    font-weight: 400;
   color:var(  --color-text-out);
}

#descricao .icon_descricao div img{
    width: 7vw;
}
/* cards */
#cards{
    width: 90%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    flex-wrap: wrap;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    bottom: 0;
    gap: 1vh;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 1rem;
}

/* // CARDS - CARD */
#cards .card:nth-child(1) {

    height: 40vh;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;
  

}

#cards .card:nth-child(2) {
    height: 40vh;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}

#cards .card:nth-child(3) {

    border: 1px solid white;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}

#cards .card:nth-child(4) {

    border: 1px solid white;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card:nth-child(5) {

    border: 1px solid white;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card:nth-child(6) {
    border: 1px solid white;
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card:nth-child(7) {
    border: 1px solid white;
    height: 40vh;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card:nth-child(8) {

    border: 1px solid white;
    height: 40vh;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #16bdfe, #6f47e7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1vw;
    cursor: pointer;
    text-align: center;

}
#cards .card{
    padding: 0.5rem;
    transition: 0.5s ease-in-out;
    
   
}
#cards .card:hover{
    box-shadow: 1px 1px 1rem black;
}
#cards .card img{
    width: 7vw;
}
#cards .card h4{
    font-family: Blacky;
    font-size: 3.5vw;
}
#cards .card p{
    font-family: Poppins-Light;
    font-size:3vw;
    font-weight: 700;
    text-align: center;
}


    /* /////////////////services///////////////// */
    #services {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 110vh;
        position: relative;

    }

    /* op_dev */
    .op_dev {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 60vh;
        padding: 1rem;
        position: absolute;
        top: 0px;
        z-index: 1;

    }

    .op_dev div {
        width: 100%;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .op_dev div h1 {
        font-size: 7vw;
        font-weight: bolder;
        font-family: Blacky;
        color: var(--cor-textos);
        text-align: center;
    }

    .op_dev ul {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        gap: 1vh;
    }

    .op_dev ul button {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6vh;
        padding: 0;
        border: none;
        box-shadow: 1px 1px 1rem var(--cor-textos);
        border-radius: 5px;
        transition: 0.5s ease-in-out;
        font-family: Blacky;
        font-size: 3vw;
        padding: 0.5rem;
    }

    .op_dev ul button:hover {
        color: var(--cor-textos);
        box-shadow: 1px 1px 1rem var(--color-black-heavy);
        scale: 1.1;
    }

    /* img_services */
    .img_services {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        position: absolute;
        bottom: 0px;
        left: 0px;

    }

    .img_services img {
        margin-left: 5%;
        width: 90%;
        height: 50%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0.5rem;
        background-size: cover;
        border-radius: 10px 10px 10px 10px;
        backdrop-filter: blur(10px);
        border: 1px solid rgba(160, 154, 154, 0.438);
        transition: 0.7s;
        cursor: pointer;


    }

    .img_services img:hover {

        box-shadow: 1px 1px 1rem black;
    }


    #img_services_1 {
        display: flex;

    }

    #img_services_2 {
        display: none;

    }

    #img_services_3 {
        display: none;
    }

    #img_services_4 {
        display: none;
    }


    /* //////////////SOBRE////////////////// */
    #sobre {
        width: 100%;
        height: 200vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
        margin-top: 10vh;
       
    }

    .sobre_text_1 {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 0px;
        padding: 1rem;
    }

    .sobre_text_1 h1 {
        font-size: 7vw;
        font-weight: bolder;
        font-family: Blacky;
        color: var(--cor-textos);
        width: 100%;
        text-align: center;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
       


    }

    .sobre_text_1 p {
        color: var(--color-black-heavy);
        color: rgb(0, 0, 0);
        font-size: 4vw;
        font-family: Poppins-Light;
        margin-top: 4vh;

    }


    .sobre_text_2 {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        bottom: 0px;
    }

    #img_1_text_2 {
        display: none;
    }

    .sobre_text_2 div {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2vh;
     
    }

    .sobre_text_2 div img {
        width: 70%;
        object-fit: cover;
        background-repeat: no-repeat;
    }

    .contact_1 span {
        width: 90%;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #16bdfe;
        border-radius: 5px;
        color: white;
        font-family: Blacky;
        font-size: 1.2vw;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 1px 1px 1rem var(--cor-textos);
    }

    .contact_1 span:hover {
        box-shadow: 1px 1px 1rem var(--color-black-heavy);
    }

    .contact_1 span a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #000;
    }

    /* ///////////////////contact//////////////// */
    #contact {
        width: 100%;
        height: 200vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-bottom: 5%;
        gap: 1vw;
        position: relative;
        margin-top: -15vh;
 


    }

    .contact_1 {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        position: absolute;
        top: 0px;
        padding: 1rem;
        
    }

    .contact_1 h1 {
        color: var(--cor-textos);
        font-family: Blacky;
        font-size: 7vw;
        text-align: center;
    }

    .contact_1 li {
        color: var(--color-black-heavy);
        font-size: 4vw;
        font-family: Poppins-Light;
        margin-top: 2vh;
    }

    .contact_1 p {
        color: var(--cor-textos_red);
        font-size: 4vw;
        font-family: Poppins-Light;
        margin-top: 2vh;
        font-weight: bolder;



    }

    .contact_1 span {
        padding: 1rem;
        font-family: Blacky;
        font-size: 4vw;
        text-align: center;
    }

    .contant_2 {
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;
        position: absolute;
        bottom: 0px;
        margin-bottom: 20vh;
       
    }

    .contant_2 form {
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 5vh;
        padding: 1rem;

    }

    .contant_2 form label {
        font-size: 4vw;
        font-family: Helvetica-Bold;

    }
    .contant_2 form input{
        padding: 1rem;
    }
    .contant_2 form select{
        padding: 1rem; 
    }
    .form-check{
         margin-top: 2vh;
    }
    .contant_2 #gridCheck{
       
        padding: 0.5rem;
    }
    .form-row {

        width: 100%;

    }

    .form-group {
        width: 100%;
    }


    /* //////////////////FOOTER */
    .footer {

        color: var(--color-black-heavy);
        padding: 1rem;
        width: 100%;
        margin: 0;
        padding: 1rem;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -15vh;
        margin-bottom: 5vh;
    }

    .col-lg-3 {
       
        /* Colunas ocupam 100% da largura da tela */
        margin: 5px 0;
        width: 100%;
        margin-top: 3vh;
    }

    .icon-text {
        justify-content: center;
    }

    .copy {
        font-size: 12px;
    }

    #social_midia {
        text-align: center;
        gap: 1vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .social_icons div {
        width: 30%;
        padding: 0.3rem;

    }

    .fab {
        font-size: 2rem;
        cursor: pointer;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fab:hover {
        color: #16bdfe;
        

    }

    .text-center {
        height: 20%;
        width: 100%;
        font-family: Poppins-Light;
        font-size: 4vw;
        color: #495057;
       
    }


    .col-lg-3 h5{
        font-family: Blacky;
        font-size: 5vw;
      
    }
    .col-lg-3 li a{
     
        font-family: Poppins-Light;
        font-size: 4vw;
    }
    .col-lg-3 li i{
        color: #000;
       
    }

}