/* ________HOME______________ */
#home {
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/imagens/fundo.jpg');
    background-position: center;
    background-size: cover;
   background-attachment: fixed;
  
}



/* ________NAV HOME______________ */
#nav_home {
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    margin: 0 auto;
    margin-top: 2vh;
    padding: 0;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    z-index: 10;
    border: 1px solid rgb(255, 255, 255);

}

#nav_home ul {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0px;
}

#nav_home div {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2%;
    height: 100%;
}

#nav_home div button {
    color: white;
    background-color: inherit;


}

#nav_home li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav_home li a {
    color: var(--cor-textos);
    font-size: 1vw;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    cursor: pointer;


}

#nav_home li a:hover {
    color: black;
    scale: 1.1;
}

/* text_section_1 */
#content_text_section_1 {
    width: 45%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    top: 15%;
    margin-left: 5%;
    left: 0px;
 
}

/* text_header */
.text_header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10%;
    
}

.text_header div{
   
    width: 30%;
    margin-bottom: 0px;
    height: 1vh;
    background-color: white;
    border-radius: 2px;
   
    /* border: 1px solid red; */
}

.text_header p{
    width: 68%;
    margin-bottom: 0px;
    color: #16bdfe;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1vw;
    font-weight: bolder;
    font-size: 1.5vw;
    font-family: Poppins-Light;
    
}

/* text_titulo_Section_1 */
.text_titulo_Section_1{
 
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.text_titulo_Section_1 h1{
    color: white;
    font-size: 5vw;
    font-weight: bolder;
    font-family: Merich;
}
.text_titulo_Section_1 h3{
    color: var(--cor-textos);
    font-size: 2vw;
    font-weight: bolder;
    font-family: Poppins-Light;

}
.text_titulo_Section_1 h3 span{
    color: white;
    font-size: 1.4vw;
    
}
.text_titulo_Section_1 p{
    color: white;
    font-size: 1vw;
    font-family: Poppins-Light;
}
.text_titulo_Section_1  .btn_section_1{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.text_titulo_Section_1  .btn_section_1 button{
    background-color: var(--cor-textos);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    color: white;
    font-size: 1.5vw;
    margin-bottom: 3vh;
    box-shadow: 1px 1px 1rem var(--cor-textos);
    transition: 0.5s ease-in-out;

}
.text_titulo_Section_1  .btn_section_1 button:hover{
    box-shadow: 1px 1px 1rem white;
    scale: 1.1;
}




#content_img_section_2{
    width: 40%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    top: 15%;
    margin-right: 5%;
    background-size: cover;
    right: 0px;
}

#content_img_section_2 img{
    width: 100%;
}





/* ///////////////section_2//////////////// */

.section_2 {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -25vh; */
  
}
/* .text_section_2 */
.text_section_2{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: 100vh;
    padding: 1rem;
    
}

/* text_section_2 h1 */
.text_section_2 h1{
    color: var(--cor-textos);
    font-size: 4vw;
    font-weight: bolder;
    font-family: Merich;
}
.text_section_2 h4{
    color: var( --color-black-heavy);
    font-size: 1.2vw;
    font-family: Poppins-Light;
    font-weight: bolder;
    line-height: 3.8vh;
}
/* .text_section_2 p */
.text_section_2 p{
    font-family: Poppins-Light;
    font-size: 1.2vw;
    color: var( --cor-textos_red);
    font-weight: bolder;

}
/* .text_section_2 span */
.text_section_2 span {
    font-family: Poppins-Light;
    font-size: 1.2vw;
    color: var( --color-black-heavy);
    font-weight: bolder;
}
.text_section_2 button{
    width: 50%;
    padding: 1rem;
    margin-bottom: -15vh;
    margin-top: 5vh;
    border: none;
    background-color: var(--cor-textos);
    border-radius: 5px;
    box-shadow: 1px 1px 1rem var(--cor-textos);
    font-family: Blacky;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}.text_section_2 button:hover{
  background-color: #fc0045;
  color: white;
  box-shadow: 1px 1px 1rem var(--color-black);
}

/* img_section_2 */
.img_section_2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}
.img_section_2 .img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}


/* /////////////////services///////////////// */
#services{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 30vh;
}

/* op_dev */
.op_dev{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    height: 100vh;
    padding: 1rem;
}

.op_dev div {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.op_dev div h1{
    font-family: Merich;
    font-size: 2w;
    color: var(--cor-textos_red);
}
.op_dev  ul{
    width: 100%;  
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    gap: 1vh;
}
.op_dev  ul button{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
    padding: 0;
    border: none;
   box-shadow: 1px 1px 1rem var(--cor-textos);
   border-radius: 5px;
   transition: 0.5s ease-in-out;
   font-family: Blacky;
   font-size: 1.2vw;
   padding: 0.5rem;
}

.op_dev  ul button:hover{
    color: var(--cor-textos);
    box-shadow: 1px 1px 1rem var(--color-black-heavy);
    scale: 1.1;
}

/* img_services */
.img_services{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    transform: rotate(-4deg);
}

.img_services img{
    width:90%;
    height: 70%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0.5rem;
    background-size: cover;
    border-radius: 10px 10px 10px 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(160, 154, 154, 0.438);
    transition:0.7s;
    cursor: pointer;
    
}
.img_services img:hover{
    transform: rotate(8deg);
    box-shadow: 1px 1px 1rem black;
}


#img_services_1{
  display: flex;
 
}
#img_services_2{
    display: none;
   
}
#img_services_3{
    display: none;
}
#img_services_4{
    display: none;
}


/* //////////////SOBRE////////////////// */
#sobre{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 20vh;

}

.sobre_text_1{
    width: 45%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre_text_1 h1{
    color: var(--cor-textos);
    font-size: 3vw;
    font-weight: bolder;
    font-family: Blacky;
}
.sobre_text_1 p{
    color: var(--color-black-heavy);
    font-size: 1.2vw;
    font-family: Poppins-Light;
    margin-top: 2vh;
}


.sobre_text_2{
    width: 45%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.sobre_text_2 div{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre_text_2 div img{
    width: 100%;
    object-fit: cover;background-repeat: no-repeat;
}

/* ///////////////////contact//////////////// */
#contact{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 20vh;
    gap: 1vw;
    
}
.contact_1{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
}
.contact_1 h1{
    color: var(--cor-textos);
    font-family: Blacky;
    font-size: 2.8vw;
}
.contact_1 li{
    font-family: Poppins-Light;
    font-weight: bolder;
    font-size: 1.2vw;

}
.contact_1 p{
    color: var(--color-text-out);
    font-size: 1.2vw;
    font-family: Poppins-Light;


}
.contant_2{
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contant_2 form{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-row{

    width: 100%; 
}
.form-group{
    width: 100%;
}


/* //////////////////FOOTER */
.footer {

    color: white;
    padding: 40px 0;
    width: 100%;
    margin: 0 auto;
    background-color: var(--header-bk);
    padding: 1rem;



}

.footer a {
    color: #ff5701;
    text-decoration: none;

    width: 100%;
}

.footer a:hover {
    color: #ff5701;

}

.footer .social-icons {
    font-size: 24px;
    margin: 0 15px;
    color: #ff5701;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.footer .social-icons i {
    transition: 0.5s ease-in-out;

}

.footer .social-icons a i:hover {
    color: #ffffff;
    scale: 1.2;
}

.footer .copy {
    border-top: 1px solid #495057;
    padding-top: 20px;
    margin-top: 20px;
}

.footer .icon-text {
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.footer .icon-text:hover {
    background-color: #ff5701;

}

.footer .icon-text:hover i {
    color: #000;
}

.footer .icon-text i {
    margin-right: 10px;
    transition: 0.5s ease-in-out;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}



.text-uppercase {

    font-family: Osvald;
    font-size: 2rem;
    height: 30%;
}


.list-unstyled {

    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vh;
    font-family: Poppins-Light;


}









@media (max-width: 768px) {
    #nav_home ul {
        width: 70%;
    }

    #nav_home li a {
        font-size: 2vw;
    }

    #content_text_section_1 {
        width: 60%;
        margin-left: 2%;
    }

    .text_titulo_Section_1 h1 {
        font-size: 7vw;
    }

    .text_titulo_Section_1 h3 {
        font-size: 3vw;
    }

    .text_titulo_Section_1 p {
        font-size: 1.5vw;
    }

    .text_titulo_Section_1 .btn_section_1 button {
        font-size: 2.5vw;
    }

    #content_img_section_2 {
        width: 50%;
        margin-right: 2%;
    }

    .text_section_2 h1 {
        font-size: 6vw;
    }

    .text_section_2 h4,
    .text_section_2 p,
    .text_section_2 span {
        font-size: 2vw;
    }

    .text_section_2 button {
        width: 70%;
    }

    .op_dev div h1 {
        font-size: 4vw;
    }

    .op_dev ul button {
        font-size: 2vw;
    }
}

@media (max-width: 480px) {
    #nav_home ul {
        width: 80%;
    }

    #nav_home li a {
        font-size: 3vw;
    }

    #content_text_section_1 {
        width: 80%;
        margin-left: 1%;
    }

    .text_titulo_Section_1 h1 {
        font-size: 8vw;
    }

    .text_titulo_Section_1 h3 {
        font-size: 4vw;
    }

    .text_titulo_Section_1 p {
        font-size: 2vw;
    }

    .text_titulo_Section_1 .btn_section_1 button {
        font-size: 3vw;
    }

    #content_img_section_2 {
        width: 90%;
        margin-right: 1%;
    }

    .text_section_2 h1 {
        font-size: 8vw;
    }

    .text_section_2 h4,
    .text_section_2 p,
    .text_section_2 span {
        font-size: 3vw;
    }

    .text_section_2 button {
        width: 80%;
    }

    .op_dev div h1 {
        font-size: 5vw;
    }

    .op_dev ul button {
        font-size: 3vw;
    }
}