<!-- SECTION -->
<section id="home">

  <!-- MENU ARCODION -->
  <div class="sidebar" id="sidebar">
    <h4 class="text-white text-center">MENU</h4>
    <div id="accordion">
      <div class="card " id="bk_menu_lateral">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Item 1
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <a href="#">Sub-item 1.1</a>
            <a href="#">Sub-item 1.2</a>
          </div>
        </div>
      </div>
      <div class="card " id="bk_menu_lateral">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Item 2
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <a href="#">Sub-item 2.1</a>
            <a href="#">Sub-item 2.2</a>
          </div>
        </div>
      </div>
      <div class="card " id="bk_menu_lateral">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed " data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Item 3
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <a href="#">Sub-item 3.1</a>
            <a href="#">Sub-item 3.2</a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- MENU -->






  <nav id="nav_home">
    <ul>
      <li><a href="#home">HOME</a></li>
      <li><a href="#development">DEVELOPMENT</a></li>
      <li><a href="#services">SERVICES</a></li>
      <li><a href="#sobre">ABOUT</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
    <div>
      <button class="btn_menu" id="toggleSidebar">
        <img src="assets/imagens/icons/menu_icon.png" alt="">

      </button>
    </div>
  </nav>

  <!-- CONTNET TEXT SECTION - 1 -->
  <main id="content_text_section_1">
    <div class="text_header">
      <div>
      </div>
      <p>UI UX DESING AGENCY</p>

    </div>
    <!-- __________________ -->
    <div class="text_titulo_Section_1">
      <h1>MAKE DIGITAL </h1>
      <div>
        <h3>Product <span>with our Agency</span></h3>
      </div>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque cum velit, omnis alias eos, quis dicta esse.
      </p>
      <div class="btn_section_1">
        <button>Lear More</button>
        <div><img src="" alt=""><img src="" alt=""><img src="" alt=""></div>
      </div>
      <p>www.site.com.br</p>
    </div>
  </main>

  <!-- ________________ -->
  <main id="content_img_section_2">
    <img src="assets/imagens/img_bk_section_1/img_1.webp" alt="">
  </main>
</section>




<!-- SECTION 2 -->

<section class="section_2" id="development">

  <div class="text_section_2" id="text_section_2">
    <h1>CRIAÇÃO E DESENVOLVIMENTO</h1>
    <h4>Criamos e desenvolvemos materiais variados desde criação de Sites em WordPress, Landing Pages, Infográficos,
      E-books, Materiais Gráficos, Materiais Ricos, Catálogos, Folders, entre outros itens.</h4>
    <p>Todos eles são fundamentais em uma estratégia de marketing digital bem alinhada.</p>
    <span>Estamos prontos para atender sua demanda de comunicação e atingir seus objetivos!</span>
    <a href="#form_">Clique aqui e faça o seu orçamento gratis!</a>
  </div>
  <div class="img_section_2" id="img_section_2">
    <img  class="img" src="assets/imagens/img_section_2/img_monitor_section_2.webp" alt="">



  </div>


</section>


<!-- SECTION DESCRICAO -->

  <section id="descricao">
    <h1>CRIAÇÃO DE SITE BARATO COM BENEFÍCIOS EXCLUSIVOS
      FEITOS PARA VOCÊ ECONOMIZAR.</h1>
      <div class="icon_descricao">
        <div>
          <img src="assets/imagens/icons/preco.png" alt="">
          <span>APENAS R$ 299,00
            E NADA MAIS</span>
        </div>
        <div>
          <img src="assets/imagens/icons/pagamento.png" alt="">
          <span>PARCELAMENTO EM ATÉ 12X NO CARTÃO
          </span>
        </div>
        <div>
          <img src="assets/imagens/icons/entrega.png" alt="">
          <span>ENTREGA RÁPIDA E GARANTIDA</span>
        </div>
        <div>
          <img src="assets/imagens/icons/ceo.png" alt="">
          <span>REVISÕES COM ESPECIALISTAS</span>
        </div>
        <div>
          <img src="assets/imagens/icons/responsivo.png" alt="">
          <span>DESIGN 100% MOBILE E OTIMIZADO</span>
        </div>
        <div>
          <img src="assets/imagens/icons/web_paginas.png" alt="">
          <span>SITE TOTALMENTE GERENCIÁVEL</span>
        </div>
        <div>
          <img src="assets/imagens/icons/otimizado.png" alt="">
          <span>SEO OTIMIZADO PARA O GOOGLE
          </span>
        </div>
        <div>
          <img src="assets/imagens/icons/alta_perfomace.png" alt="">
          <span>SITE ULTRA RÁPIDO PARA O SEU NEGÓCIO</span>
        </div>

      </div>
      <main id="cards">
     
          <div class="card" id="card-1">
            <img src="assets/imagens/icons/cards/responsivo.png" alt="">
            <h4>Sites Responsivos</h4>
            <p>Sites que se adaptam perfeitamente ao tamanho da tela do computador, celular ou tablet.
            </p>
          </div>
          <div class="card" id="card-2">
            <img src="assets/imagens/icons/cards/pincel.png" alt="">
            <h4>User Experience</h4>
            <p>Estratégias de UX/UI Design focadas em otimizar a experiência do usuário, melhorar a usabilidade, navegação e conversão.
            </p>
          </div>
          <div class="card" id="card-3">
            <img src="assets/imagens/icons/cards/personalizado.png" alt="">
            <h4>Layout Personalizado</h4>
            <p>O layout é exclusivo e desenvolvido por especialistas. Formas, cores, imagens, ícones. Tudo isso é pensado nos mínimos detalhes, especialmente para você.
            </p>
          </div>
          <div class="card" id="card-4">
            <img src="assets/imagens/icons/cards/raio.webp" alt="">
            <h4>Páginas Rápidas</h4>
            <p>Carregamento das páginas de forma rápida para aumentar o número de conversões, através de otimização e servidor cloud de alta performance.
            </p>
          </div>
          <div class="card" id="card-5">
            <img src="assets/imagens/icons/cards/suporte.png" alt="">
            <h4>Suporte Contínuo</h4>
            <p>Conte com um time de especialistas para dar suporte às suas necessidades. Tudo isso feito sob-demanda, quando precisar.
            </p>
          </div>
          <div class="card" id="card-6">
            <img src="assets/imagens/icons/cards/verificado.png" alt="">
            <h4>Pronto para o Google</h4>
            <p>Ao desenvolver o site, seguimos todas as diretrizes e critérios impostos pelo Google para que sua empresa apareça na maior rede de pesquisa. 
            </p>
          </div>
          <div class="card" id="card-7">
            <img src="assets/imagens/icons/cards/personalizacao.png" alt="">
            <h4>Personalização Total</h4>
            <p>Desenvolvemos todos os sites de forma personalizada, layouts 100% exclusivos para a sua marca. Uma aparência moderna e profissional.
            </p>
          </div>
          <div class="card" id="card-8">
            <img src="assets/imagens/icons/cards/engre.webp" alt="">
            <h4>Integração</h4>
            <p>Integramos com os principais CRM’s, ERP’s, sistemas e plataformas de pagamentos digitas, para automatizar seus processos e economizar tempo no fluxo de trabalho.
            </p>
          </div>
      
    

      </main>

  </section>










<!-- SECTION - 3 -->

<section id="services">
  <div class="op_dev" id="op_dev">
    <div>
      <h1>Conheça alguns serviços de criação e desenvolvimento:</h1>
    </div>

    <ul>
      <button  onclick="abrirImg_1()">CRIAÇÃO DE SITES</button>
      <button onclick="abrirImg_2()">LANDING PAGES CRIATIVAS</button>
      <button onclick="abrirImg_3()">CRIAÇÃO DE BLOGS</button>
      <button onclick="abrirImg_4()">WEB DESING UI UX</button>
    </ul>

  </div>
  <!-- ___________ -->
  <div class="img_services" id="img_services">

    <div>
      <img id="img_services_1" src="assets/imagens/img_section_3/img_1.png" alt="">

    </div>
    <div>
      <img id="img_services_2" src="assets/imagens/img_section_3/img_2.png" alt="">
    </div>
    <div>
      <img id="img_services_3" src="assets/imagens/img_section_3/img_3.png" alt="">
    </div>
    <div>
      <img id="img_services_4" src="assets/imagens/img_section_3/img_4.png" alt="">
    </div>
  </div>

</section>

<!--  -->

<div class="marquee">
  <p>Web design e a criação de interfaces digitais  -  Foco na experiência do usuário e estética visual  -  Um bom design para web é essencial para garantir a usabilidade, a navegabilidade e a acessibilidade do site - Técnicas modernas incluem o uso de HTML5, CSS3, JavaScript, e frameworks como React e Angular. Além disso, a responsividade e a otimização para dispositivos móveis são fundamentais para alcançar um público mais amplo. </p>
</div>
<!-- SECTION 4 -->


<section id="sobre" >

  <div class="sobre_text_1">
    <div>
      <h1>O conteúdo no marketing digital</h1>
      <p>Existem muitas diferenças entre o marketing digital e o marketing tradicional. No entanto, dentre todas elas,
        uma se destaca: o envolvimento com o consumidor.</p>
      <p>Isso porque, no marketing digital, a abordagem é, geralmente, muito mais sutil. Por outro lado, o marketing
        tradicional tem o costume de ser interruptivo, como acontece nos comerciais de rádio e TV por exemplo, onde os
        anúncios interrompem a programação.</p>
      <p>A criação de conteúdo no marketing digital busca atrair o consumidor, criar vínculos com ele e faze-lo passar
        por uma série de etapas até chegar no momento de comprar.</p>
    </div>
    <div>
      <h1>Marketing de conteúdo</h1>
      <p>Estratégia fundamental do marketing digital, o marketing de conteúdo está, justamente, ligado à criação de
        conteúdo.</p>
      <p>Seus objetivos podem ser vários, como gerar autoridade de marca ou construir um posicionamento, por exemplo.
      </p>
      <p>O interessante é que, nem sempre, o marketing de conteúdo faz referência ao produto ou serviço vendido pelas
        empresas.</p>
      <p>Em algumas etapas do processo o foco é tirar dúvidas, informar; para, antes de apresentar uma solução,
        demonstrar ao consumidor que ele tem uma “dor”.</p>
      <p>Em sequência, depois de evidenciar essa dor, o processo vai se afunilando, e então as soluções começam a ser
        apresentadas.</p>
      <p>Dessa forma o consumidor percorre um caminho natural e de forma arbitrária, tendo acesso a conteúdos e trocando
        informações valiosas por conhecimento.</p>
      <span>Aproveite para nos seguir nas redes sociais: <a href="#">Instagram</a>,<a href="">Facebook</a>,<a href="">Twitter</a></span>
    </div>




  </div>
  <div class="sobre_text_2">
    <div id="img_1_text_2">
      <img src="assets/imagens/img_section_4/img_1.webp" alt="">

    </div>
    <div>
      <img src="assets/imagens/img_section_4/img_2.webp" alt="">
    </div>

  </div>

</section>


<!-- CONTATO -->


<section id="contact">

  <div class="contact_1">
    <h1>Pronto para Transformar a Comunicação da Sua Empresa?</h1>
    <li>Fortalecer o Engajamento: Conecte-se melhor com seus clientes e colaboradores, aumentando a satisfação e a
      lealdade.</li>
    <li>Melhorar a Produtividade: Facilite a troca de informações e a colaboração, otimizando processos e economizando
      tempo.</li>
    <li>Expandir o Alcance: Utilize canais de comunicação modernos para atingir um público maior e diversificado.</li>
    <li>Fortalecer a Marca: Transmita seus valores e sua missão de forma clara e consistente, fortalecendo a identidade
      da sua marca.</li>
    <p>Não perca mais tempo. Transforme a comunicação da sua empresa e conquiste novos horizontes.</p>
    <span><a href="#nome">Entre em contato conosco hoje mesmo!</a></span>
  </div>

  <div class="contant_2" id="form_">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome">Nome*</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome Completo" required>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email*</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email@gmail.com" required>
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Telefone - Whatsapp*</label>
        <input type="number" class="form-control" id="inputAddress" placeholder="(00)0 0000-0000" required>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Cidade</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputEstado">Estado*</label>
          <select id="inputEstado" class="form-control">
            <option selected>Escolher...</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
            <option value="EX">Estrangeiro</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputCEP">CEP*</label>
          <input type="text" class="form-control" id="inputCEP" placeholder="00000-000" required>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" required>
          <label class="form-check-label" for="gridCheck">
            Eu concordo em receber comunicações.
          </label>
        </div>
        <p>Acesse nossa Política de Privacidade: </p>
      </div>
      <button type="submit" class="btn btn-primary">Solicitar Orçamento</button>
    </form>

  </div>

</section>










<!-- SECTION FOOTER -->

<footer class="footer ">
  <div class="container_device">
    <div class="row">
      <!-- About -->
      <div class="col-lg-3 ">
        <h5 class="text-uppercase">Sobre nós</h5>
        <p>
          Fornecemos serviços de qualidade com dedicação e compromisso. Nossa missão é garantir a satisfação do cliente
          em todas as etapas.
        </p>
      </div>

      <!-- Services -->
      <div class="col-lg-3 ">
        <h5 class="text-uppercase">Serviços</h5>
        <ul >
          <li class="icon-text"><a href="#!" class="text-reset">Consultoria</a></li>
          <li class="icon-text"><a href="#!" class="text-reset">Desenvolvimento</a>
          </li>
          <li class="icon-text"><a href="#!" class="text-reset">Suporte</a></li>
          <li class="icon-text"><a href="#!" class="text-reset">Treinamento</a>
          </li>
        </ul>
      </div>

      <!-- Contact -->
      <div class="col-lg-3 ">
        <h5 class="text-uppercase">Contato</h5>
        <ul class="list-unstyled mb-0">

          <li class="icon-text"><i class="fas fa-envelope"></i><a href="#" class="text-reset">Email: Acesse</a></li>
          <li class="icon-text"><i class="fas fa-phone"></i><a href="#!" class="text-reset">Telefone: (61) 981579569</a>
          </li>
          <li class="icon-text"><i class="fas fa-map-marker-alt"></i><a href="https://maps.app.goo.gl/Fy5hP6F9agGcPBGW9"
              class="text-reset">Endereço: DF - Brasília</a></li>
        </ul>
      </div>
      <div class="col-lg-3 " id="social_midia">
        <h5 class="text-uppercase">Social</h5>

        <div class="social_icons">
          <div>
            <i class="fab fa-whatsapp" ></i>
          </div>
          <div>
             <i class="fab fab fa-instagram"></i>
          </div>
          <div>
            <i class="fab fab fa-linkedin"></i>
          </div>
         <div>
             <i class="fab fab fa-github"></i>
         </div>
          
       
        </div>


      </div>

    </div>
  </div>

  

  <div class="text-center p-6 copy">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="#">Erivelton DEV</a>
  </div>
</footer>